@import url(https://fonts.googleapis.com/css?family=PT+Serif:regular,700,400);
@import url(https://fonts.googleapis.com/css?family=Poppins:regular,600);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  padding-inline: 15px;
}

h1 {
  font-family: "PT Serif", system-ui;
  font-weight: 600;
  font-size: 2.5rem;
  letter-spacing: -0.1rem;
  margin-top: 75px;
  margin-bottom: 40px;
}

h2 {
  font-family: "Poppins", system-ui;
  font-size: 1.25rem;
  font-weight: 600;
  padding-bottom: 10px;
}

footer {
  font-family: system-ui;
  font-size: 0.8rem;
  color: #a9a9a9;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}

#username {
  font-weight: bold;
  text-decoration: dashed;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-thickness: 0.2px;
  text-underline-offset: 2px;
}

.description {
  font-family: system-ui, -apple-system, sans-serif;
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.5rem;
  max-width: 350px;
}

.head-wrapper {
  padding-bottom: 60px;
}

.team-wrapper {
  display: flex;
  align-items: start;
  justify-content: space-between;
  flex-wrap: wrap;
  /* column-gap: 10px; */
  flex: 1;
  row-gap: 20px;
}

.content-box {
  /* width: calc(50% - 10px); */
  /* outline: 3px solid red; */
  max-width: 50%;
  position: relative;
}

.photo {
  max-width: 85%;
  height: 100%;
}

.content-box:nth-child(even) {
  /* outline: 2px solid red; */
  margin-top: 15%;
}

.name {
  font-family: "Poppins", system-ui;
  font-size: medium;
  padding-block: 0;
  padding-top: 10px;
  font-weight: 600;
  margin: 0;
}

.role {
  font-family: "PT Serif", system-ui;
  font-size: 2rem;
  font-weight: 400;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 0;
  right: 0;
  writing-mode: vertical-rl;
  color: black;
  font-size: 10px;
  min-width: max-content;
}

@media (width>600px) {
  body {
    /* background-color: burlywood; */
  }

  .container {
    /* background-color: pink; */
    margin-inline: 10%;
  }

  .head-wrapper {
    display: flex;
    flex-direction: row;
    /* background-color: wheat; */
    justify-content: flex-start;
    padding-top: 80px;
    padding-bottom: 40px;
  }

  .intro {
    flex: 1;
  }

  h1 {
    flex: 1;
    margin: 0;
  }

  .content-box {
    /* width: calc(50% - 10px); */
    /* outline: 3px solid red; */
    max-width: 30%;
  }

  .team-wrapper {
    /* background-color: white; */
  }

  .photo {
    max-width: 70%;
    height: 100%;
  }

  .content-box:nth-child(even) {
    margin-top: 0%;
  }

  .content-box:nth-child(2),
  .content-box:nth-child(5) {
    /* outline: 5px solid red; */
    padding-top: 8%;
  }
}
