@import url(https://fonts.googleapis.com/css?family=PT+Serif:regular,700);
@import url(https://fonts.googleapis.com/css?family=Poppins:regular,600);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  font-family: "PT Serif", system-ui;
  font-weight: 600;
  font-size: 2.5rem;
  letter-spacing: -0.1rem;
  margin-top: 75px;
  margin-bottom: 40px;
}

h2 {
  font-family: "Poppins", system-ui;
  font-size: 1.25rem;
  font-weight: 600;
  padding-bottom: 10px;
}

footer {
  font-family: system-ui;
  font-size: 0.8rem;
  color: #a9a9a9;
  padding-bottom: 20px;
  text-align: center;
}

#username {
  font-weight: bold;
  text-decoration: dashed;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-thickness: 0.2px;
  text-underline-offset: 2px;
}

p {
  font-family: system-ui, -apple-system, sans-serif;
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.5rem;
  padding-bottom: 60px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding-inline: 15px;
  min-height: 100vh;
}

.team-wrapper {
  display: flex;
  align-items: start;
  justify-content: space-between;
  flex-wrap: wrap;
  /* column-gap: 10px; */
  flex: 1;
  /* outline: 10px solid gray; */
  row-gap: 20px;
}

.content-box {
  width: calc(50% - 10px);
  position: relative;
  background-color: lightpink;
}

.photo {
  max-width: 80%;
  height: 100%;
}

.content-box:nth-child(even) {
  outline: 2px solid red;
  margin-top: 40px;
}

.name {
  padding-block: 0;
  padding-top: 10px;

  margin: 0;
}

.role {
  padding: 0;
  margin: 0;
  position: absolute;

  /* bottom: 150px;
  left: 40%; */
  rotate: 90deg;
}
